<div class="hot-box">
  <img src="" class="hot-picture">
</div>
<div class="hot-popular-header">Most Popular Today :</div>
<div class="drawer-option trending-list">

</div>
<div class="home-container">
  <div class="home-text">
    <h4 class="home-info">Connected Home</h4>
    <h5 class="home-info info-two">A guide to the top home automation products</h5>
  </div>
<div class="connected-home">

</div>
</div>
<div class="adventure-container">
  <div class="adventure-text">
    <h4 class="adventure-info">Active Adventurer</h4>
    <h5 class="adventure-info info-two">A guide to the top products for fitness and outdoor enthusiast</h5>
  </div>
  <div class="active-adventurer">

  </div>
</div>
<paper-shadow z="4" class="search-item-modal search-modal-disabled"></paper-shadow>
