<div class="friend-info">
  <img src="{{this.profilePicture}}" class="friend-picture">
  <h3 class="show-friend-username">{{this.username}}</h3>
  <paper-button class="unfriend">Unfriend</paper-button>
</div>
<div class="friend-items"></div>
