<header class="app-header">
  <h1 class="app-title">StoreSquare <i class="fa fa-square-o"></i></h1>
  <h4 class="app-user"><i class="fa fa-user"></i> {{this.model.attributes.username}}</h4>
</header>
