 <core-drawer-panel drawerWidth="300px" responsiveWidth="1500px">
  <core-header-panel drawer class="drawer-panel">
    <div class="drawer-content">
      <paper-shadow z="1"><div class="drawer-menu">
        <div class="user-information">
          <img src={{this.attributes.profilePicture._url}} class="drawer-user-picture">
          <h5 class="drawer-user">{{this.attributes.username}}</h5>{{log this}}
        </div>
        <!--<h2 class="app-title"><i class="fa fa-square-o app-title-icon"></i> StoreSquare</h2>-->
      </div></paper-shadow>
      <h3 class="drawer-option drawer-title render-list"><core-icon icon="view-list"></core-icon>My List</h3>
      <div class="drawer-option drawer-friends">

      </div>
      <h3 class="trending-header"><core-icon icon="social:whatshot"></core-icon> Trending</h3>
      <div class="drawer-option trending-list">

      </div>
    </div>
  </core-header-panel>
  <core-header-panel main>
    <paper-shadow z="2">
      <header class="app-header">
        <paper-icon-button icon="menu" class="menu-drawer-icon" core-drawer-toggle></paper-icon-button>
        <h2 class="app-title"><i class="fa fa-square-o app-title-icon"></i> StoreSquare</h2>
        <paper-icon-button  icon="search" class="app-title-user"></paper-icon-button>
      </header>
    </paper-shadow>
    {{log this}}
    <section class="accordion-container">

    </section>
  </core-header-panel>
</core-drawer-panel>
