 <core-drawer-panel drawerWidth="300px" responsiveWidth="1500px">
  <core-header-panel drawer class="drawer-panel">
    <div class="drawer-content">
      <paper-shadow z="1"><div class="drawer-menu">
        <div class="user-information">
          <img src={{this.attributes.profilePicture._url}} class="drawer-user-picture">
          <h5 class="drawer-user">{{this.attributes.username}}</h5>{{log this}}
        </div>
        <!--<h2 class="app-title"><i class="fa fa-square-o app-title-icon"></i> StoreSquare</h2>-->
      </div></paper-shadow>
      <div class="side-nav show-search"><i class="fa fa-newspaper-o side-nav-feed"></i> The Feed</div>
      <div class="side-nav show-list"><core-icon icon="list" class="side-nav-icon"></core-icon> My List</div>
      <div class="side-nav show-create"><core-icon icon="create" class="side-nav-icon"></core-icon> Create</div>
      <div class="side-nav show-gifts"><i class="fa fa-gift side-nav-gift"></i> Gift List</div>
      <div class="side-nav show-library"><core-icon icon="maps:local-library" class="side-nav-icon"></core-icon> Library</div>
      <div class="drawer-option drawer-friends">

      </div>
    </div>
  </core-header-panel>
  <core-header-panel main mode="scroll">
      <header class="app-header">
        <paper-icon-button icon="menu" class="menu-drawer-icon" core-drawer-toggle></paper-icon-button>
        <h2 class="app-title"><core-icon icon="social:share" class="app-icon"></core-icon> Wishbone</h2>
        <!--<paper-icon-button  icon="search" class="app-title-user"></paper-icon-button>-->
      </header>
    <section class="accordion-container">
    </section>
  </core-header-panel>
</core-drawer-panel>
