<section class="home-menu">
  <form class="home-search-form">
    <input type=text class="home-search-bar" placeholder="Search for products">
  </form>
  <footer class="home-footer">
    <i class="fa fa-list-ul home-icon home-list"></i><i class="fa fa-plus home-icon home-plus"></i>
  </footer>
</section>
