    <div class="drawer-modal drawer-hidden"></div>
    <div class="drawer-content drawer-hidden">
      <div class="drawer-menu">
        <div class="user-information">
          <img src="{{this.attributes.profilePicture}}" class="drawer-user-picture">
          <h5 class="drawer-user">{{this.attributes.username}}</h5>
        </div>
      </div>
      <div class="side-nav show-search"><i class="fa fa-newspaper-o side-nav-feed"></i> The Feed</div>
      <div class="side-nav show-list"><core-icon icon="list" class="side-nav-icon"></core-icon> My List</div>
      <div class="side-nav show-gifts"><i class="fa fa-gift side-nav-gift"></i> Gift List</div>
      <div class="side-nav show-library"><core-icon icon="maps:local-library" class="side-nav-icon"></core-icon> Library</div>
      <div class="drawer-option drawer-friends">

      </div>
      <h4 class="user-list-header">Click a name below to add a friend!</h4>
      <div class="users-list">

      </div>
      <paper-button raised class="log-out">Logout</paper-button>
    </div>
      <header class="app-header">
        <paper-button class="menu-drawer-icon"><core-icon icon="menu"></core-icon></paper-button>
        <h2 class="app-title"><!--<core-icon icon="social:share" class="app-icon"></core-icon>--><!--<img src="https://files.slack.com/files-pri/T03FAV5N3-F081X2HHR/logo-sized.png" class="app-icon">--> Wishbone</h2>
      </header>
    <section class="accordion-container">
    </section>
    <div class="modal-underlay search-modal-disabled">
      <div class="search-item-modal search-modal-disabled"></div>
    </div>
    <div class="modal-underlay modal-disabled">
      <div class="item-modal modal-disabled"></div>
    </div>
