<form class="landing-form">
  <input type="text" class="user-username landing-input" placeholder="Username">
  <input type="password" class="user-password landing-input" placeholder="Password">
  <input type="submit" class="user-submit landing-button">
</form>
<button class="new-user-button landing-button">Don't have an account? Join In</button>
