<div class="landing-box">
  <div class="login-box  login-hidden">
    <form class="landing-form">
      <core-icon icon="close" class="login-cancel"></core-icon>
      <input type="text" class="user-username landing-input" placeholder="USERNAME">
      <input type="password" class="user-password landing-input" placeholder="PASSWORD">
      <paper-button type="submit" class="user-submit landing-button" raised>Log In</paper-button>
      <paper-button raised class="new-user-button landing-button">Don't have an account? Join Us</paper-button>
    </form>
  </div>
  <div class="landing-picture-box">
    <div class="landing-title"><img src="https://files.slack.com/files-pri/T03FAV5N3-F081X2HHR/logo-sized.png" class="app-icon"><h4 class="app-name">Wishbone</h4></div>
    <paper-button class="app-user">Log In</paper-button>
    <div class="landing-picture">
          Manage the items that mean the most
    </div>
  </div>
  <div class="feature-content">
    <div class="feature-container">Your List<div class="feature-box feature-list"><div class="feature-box-overlay"><h3 class="feature-text"><core-icon icon="list" class="feature-icon"></core-icon> My List</h3>Keep track of the products important to you</div></div></div>
    <div class="feature-container">Your Friends<div class="feature-box feature-social"><div class="feature-box-overlay"><h3 class="feature-text"><i class="fa fa-gift"></i> My Gifts</h3>Interact with the products your friends are interested in</div></div></div>
    <div class="feature-container">Your Products<div class="feature-box feature-library"><div class="feature-box-overlay"><h3 class="feature-text"><core-icon icon="maps:local-library" class="feature-icon"></core-icon> My Library</h3>Search through thousands of different products</div></div></div>
    <div class="feature-container">Your Life<div class="feature-box feature-hot"><div class="feature-box-overlay"><h3 class="feature-text"><i class="fa fa-newspaper-o"></i> My Feed</h3>Keep up with products that are new and popular</div></div></div>
  </div>
  <h1 class="landing-instruction">Only want to look up an item?</h1>
  <div class="landing-search-box search-box">
  <form class="home-search-form">
    <input type=text class="home-search-bar" placeholder="SEARCH">
  </form>
    <section class="search-results">

    </section>
  </div>
</div>
