<header class="app-header">
  <div class="landing-title"><img src="https://files.slack.com/files-pri/T03FAV5N3-F081X2HHR/logo-sized.png" class="app-icon"><h4 class="app-name">Wishbone</h4></div>
  <paper-button class="app-user"><core-icon icon="social:person"></core-icon> Log In</paper-button>
</header>
<div class="landing-box">
  <div class="login-box  login-hidden">
    <form class="landing-form">
      <input type="text" class="user-username landing-input" placeholder="USERNAME">
      <input type="password" class="user-password landing-input" placeholder="PASSWORD">
      <paper-button type="submit" class="user-submit landing-button" raised>Log In</paper-button>
    </form>
    <paper-button raised class="new-user-button landing-button">Don't have an account? Join Us</paper-button>
  </div>
  <div class="feature-content">
    <div class="feature-box feature-list"></div>
    <div class="feature-box feature-social"></div>
    <div class="feature-box feature-library"></div>
    <div class="feature-box feature-hot"></div>
  </div>
  <div class="landing-search-box search-box">
  <form class="home-search-form">
    <input type=text class="home-search-bar" placeholder="SEARCH">
  </form>
    <section class="search-results">

    </section>
  </div>
</div>
