
<div class="library-box">
  <form class="library-search">
    <input type="text" class="home-search-bar" placeholder="SEARCH">
  </form>
  <div class="library-nav">
    <div class="category-list">

  </div>
  <div class="subcat-box subcat-box-inactive">

  </div>
  <div class="subcat-product-box">

  </div>
</div>
</div>
