<div class="app-side-nav">
  <div class="side-nav show-search"><core-icon icon="search" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-list"><core-icon icon="list" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-create"><core-icon icon="create" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-gifts"><i class="fa fa-gift side-nav-gift"></i></div>
  <div class="side-nav show-library"><core-icon icon="maps:local-library" class="side-nav-icon"></core-icon></div>
</div>
<div class="library-box">
  <div class="library-nav">
    <core-icon icon="chevron-right"></core-icon>
    <div class="library-category category-appliance">Appliances</div>
    <div class="library-category category-tv">TV & Home Theater</div>
    <div class="library-category category-computer">Computers & Tablets</div>
    <div class="library-category category-cell">Cell Phones</div>
    <div class="library-category category-camera">Cameras & Camcorders</div>
    <div class="library-category category-audio">Audio</div>
    <div class="library-category category-car">Car Electronics & GPS</div>
    <div class="library-category category-game">Video Games, Movies & Music</div>
    <div class="library-category category-health">Health, Fitness & Beauty</div>
    <div class="library-category category-home">Home & Office</div>
    <div class="library-category category-wear">Wearable Technology</div>
    <div class="library-category category-brand">By Brand</div>
  </div>
</div>
