<paper-shadow z="1" class="list-card">
  <div class="list-card-top">
    <div class="list-card-image">
      <img src="{{image}}" class="list-item-thumbnail">
    </div>
  </div>
  <div class="card-bottom">
    <div class="card-title">{{name}}</div>
    <h5 class="card-date">{{moment createdAt}}</h5>
  </div>
</paper-shadow>
