<paper-shadow z="1" class="list-item-header">
  <img src="{{image}}" class="list-item-thumbnail">
  <h4 class="item-title">
    <span class="list-item-header-name">{{name}}</span>
  </h4>
</paper-shadow>
