<form class="new-user-form">
  <input type="text" class="new-user-username create-input" placeholder="Username">
  <input type="text" class="new-user-password create-input" placeholder="Password">
  <input type="email" class="new-user-email create-input" placeholder="Email">
  <input type="submit" class="new-user-create-button" value="Submit">
</form>
