<header class="app-header">
  <h2 class="landing-title">Wishbone</h2>
</header>
<div class="landing-box">
  <div class="login-box">
    <form class="new-user-form">
      <input type="text" class="new-user-username landing-input" placeholder="USERNAME">
      <input type="password" class="new-user-password landing-input" placeholder="PASSWORD">
      <input type="email" class="new-user-email landing-input" placeholder="EMAIL">
      <paper-button class="new-user-create-button landing-button" raised>Sign Up</paper-button>
    </form>
  </div>
</div>

<h2 class="sign-up-text">After signing up, you will be able to access your:</h2>
<div class="sign-up-text">
  <core-icon icon="list" class="feature-icon"></core-icon> List<h3 class="sign-up-instruction"> Add products to your list that contain day to day updates of prices and shipping information</h3>
</div>
<div class="sign-up-text">
  <i class="fa fa-gift new-icon"></i> Gift List<h3 class="sign-up-instruction"> Keep track of items that your friends are interested in</h3>
</div>
<div class="sign-up-text">
  <core-icon icon="maps:local-library" class="feature-icon"></core-icon> Library<h3 class="sign-up-instruction"> Access the library containing thousands of different products</h3>
</div>
<div class="sign-up-text">
  <i class="fa fa-newspaper-o new-icon"></i> Feed<h3 class="sign-up-instruction"> Access the most popular items in the store and stay informed on the newest products</h3>
</div>
