<div class="list-box accordion-box">
  {{#if this.error}}
  <h1>{{this.error}}</h1>
  {{/if}}
  <div class="user-list grid js-masonry"></div>
  <div class="modal-underlay modal-disabled">
    <div class="item-modal modal-disabled"></div>
  </div>
</div>
