<div class="search-box accordion-box">
<form class="home-search-form">
  <input type=text class="home-search-bar" placeholder="SEARCH">
</form>
  <section class="search-results">

  </section>
</div>
