<div class="app-side-nav">
  <div class="side-nav show-search"><core-icon icon="search" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-list"><core-icon icon="list" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-create"><core-icon icon="create" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-gifts"><i class="fa fa-gift side-nav-gift"></i></div>
  <div class="side-nav show-library"><core-icon icon="maps:local-library" class="side-nav-icon"></core-icon></div>
</div>
<div class="list-box accordion-box">
  <div class="user-list grid js-masonry" data-masonry-options='{ "columnWidth": 230, "itemSelector": ".grid-item", "gutter": 0, "percentPosition": true}'></div>
  <paper-shadow z="4" class="item-modal modal-disabled"></paper-shadow>
</div>
