<div class="list-box accordion-box">
  {{#if this.error}}
  <h1>{{this.error}}</h1>
  {{/if}}
  <div class="user-list grid"></div>
</div>
<div class="modal-underlay search-modal-disabled">
  <div class="search-item-modal search-modal-disabled"></div>
</div>
