<div class="app-side-nav">
  <paper-button class="side-nav show-search"><core-icon icon="search"></core-icon></paper-button>
  <paper-button class="side-nav show-list"><core-icon icon="list"></core-icon></paper-button>
  <paper-button class="side-nav show-create"><core-icon icon="create"></core-icon></paper-button>
</div>
<div class="search-box accordion-box">
<form class="home-search-form">
  <input type=text class="home-search-bar" placeholder="SEARCH">
</form>
  <section class="search-results">

  </section>
</div>
