<div class="app-side-nav">
  <div class="side-nav show-search"><core-icon icon="search" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-list"><core-icon icon="list" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-create"><core-icon icon="create" class="side-nav-icon"></core-icon></div>
  <div class="side-nav show-gifts"><i class="fa fa-gift side-nav-gift"></i></div>
</div>
<div class="search-box accordion-box">
<form class="home-search-form">
  <input type=text class="home-search-bar" placeholder="SEARCH">
</form>
  <section class="search-results">

  </section>
</div>
