<ul class="search-results-box">
  <div class="pagination-nav">
    <paper-button raised class="search-backwards"><core-icon icon="arrow-back"></core-icon></paper-button>
    <paper-button raised class="search-forwards"><core-icon icon="arrow-forward"></core-icon></paper-button>
  </div>
  <paper-shadow z="4" class="search-item-modal"></paper-shadow>
</ul>
