<div class="search-results-box">
  <paper-button raised class="search-backwards"><core-icon icon="arrow-back"></core-icon></paper-button>
  <paper-button raised class="search-forwards"><core-icon icon="arrow-forward"></core-icon></paper-button>
</div>
