<paper-shadow z="1" class="card">
    <div class="card-top">
      <div class="card-image">
        <img src="{{this.image}}" class="card-url">
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-title">{{this.name}}</div>
    </div>
</paper-shadow>
