<div class="category-product">
  <img src="{{this.image}}" class="category-product-image">
  <h4 class="category-product-name">{{this.name}}</h4>
  <h4 class="category-product-price">{{this.salePrice}}</h4>
</div>
