<paper-shadow z='1' class="trending-item">
  <img src="{{this.images.standard}}" width="150px">
  <h5 class="trending-name">{{this.names.title}}</h5>
  <h5 class="trending-price">{{this.prices.current}}</h5>
  <paper-fab mini icon="add" class="trending-item-list-add"></paper-fab>
</paper-shadow>
